Source: xwax
Section: sound
Priority: optional
Maintainer: Daniel James <daniel@64studio.com>
Build-Depends:
 debhelper (>= 11),
 libasound2-dev [linux-any],
 libjack-dev,
 libsdl-ttf2.0-dev
Standards-Version: 4.1.4
Homepage: http://xwax.org/

Package: xwax
Architecture: any
Depends:
 flac,
 fonts-dejavu-extra,
 id3v2,
 vorbis-tools,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 cdparanoia,
 ffmpeg,
 mpg123
Suggests:
 jackd
Description: open-source vinyl emulation software for Linux
 xwax is open-source vinyl emulation software for Linux. It allows DJs and
 turntablists to playback digital audio files (MP3, Ogg Vorbis, FLAC, AAC and
 more), controlled using a normal pair of turntables via timecoded vinyls.
 .
 It's designed for both beat mixing and scratch mixing. Needle drops, pitch
 changes, scratching, spinbacks and rewinds are all supported, and feel just
 like the audio is pressed onto the vinyl itself.
 .
 The focus is on an accurate vinyl feel which is efficient, stable and fast.
